<header>
    <h1>Private Information</h1>
</header>
<main>
    <p>username: {{userName}}</p>
    <p>firstname: {{firstName}}</p>
    <p>lastname: {{lastName}}</p>
    <p>profession: {{profession}}</p>
    <p>bio: {{bio}}</p>
</main>